/* TODO: Tailwindcssに対応させる */

.markdown h1 {
  font-size: 2em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown h3 {
  font-size: 1.17em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown h4 {
  font-size: 1em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown h5 {
  font-size: 0.83em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown h6 {
  font-size: 0.67em;
  margin: 0.5em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.markdown p {
  margin: 0.5em 0;
}

.markdown a {
  color: #0366d6;
}

.markdown hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 1em 0;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table thead {
  border-bottom: 2px solid #dfe2e5;
}

.markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown ul,
.markdown ol {
  padding-left: 1em;
}

.markdown .contains-task-list {
  padding-left: 0em;
}

.markdown ul .task-list-item::marker {
  content: "";
}

.markdown ul li::marker {
  content: "・  ";
  color: #6a737d;
}

.markdown ol li {
  list-style-type: decimal;
}

.markdown p code {
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown pre code {
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}
